<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My Forum</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-MD6wxzMe8tZlYdXNjk2eb8sZ1WIk4XNxyA4yTgk6tZ9RvEzuQU4p6TI7auyuyk4E" crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="site-title"><a href="/">My Forum</a></h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 - My Forum</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgJABhhxMBl8KP1UMGr4TkrmV99KQODmN1pJKxlpET/DJCyTG/C" crossorigin="anonymous"></script>
</body>
</html>
