
@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="post-list">
    @if(Model !=null)
    {
        <h2 class="post-title"><a asp-controller="Main" asp-action="CreatePost" class="create-post-btn">Создать пост</a></h2>
        <h2 class="post-title"><a asp-controller="Main" asp-action="PostDay" class="create-post-btn">Посты дня</a></h2>
        @foreach (var post in Model)
        {
            <div class="post-summary">
                <h2 class="post-title"><a asp-controller="Main" asp-action="PostPage" asp-route-id="@post.PostId">@post.PostTitle</a></h2>
                <h3 class="post-subtitle">@post.PostSubtitle</h3>
                <p class="post-content">@post.PostBody</p>

            </div>
        }
    } 
</div>

<style>
    .create-post-btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.2s;
    }

    .create-post-btn:hover {
        background-color: #0056b3;
        text-decoration: none;
        transform: scale(1.05);
    }

    .create-post-btn:active {
        background-color: #004080;
    }

    .post-title {
        margin-bottom: 20px;
    }
</style>
